.cg-spinner {
  position: fixed;
  width: 55px;
  height: 55px;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin-left: -27.5px;
  margin-top: -27.5px;
  width: 55px;
  height: 55px; }
  .cg-spinner:before, .cg-spinner:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%; }
@keyframes scale-2 {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    transform: scale(0.7);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }
  .cg-spinner:before {
    width: 47px;
    height: 47px;
    border-color: #fff;
    top: 0px;
    left: 0px;
    animation: scale-2 1.1s linear 0s infinite; }
  .cg-spinner:after {
    width: 47px;
    height: 47px;
    border-color: #fff;
    top: 0;
    left: 0;
    opacity: 0;
    animation: scale-2 1.1s linear 0.5s infinite; }

:host(.cg-show) {
  opacity: 1; }

:host(.cg-hide-controls) .cg-close,
:host(.cg-hide-controls) .cg-prev,
:host(.cg-hide-controls) .cg-next {
  opacity: 0; }

:host {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  user-select: none;
  transition: opacity 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 10000; }

:host {
  background-color: black; }
  :host .cg-back {
    background: url(../icons/ic-back.svg) center no-repeat;
    width: 40px;
    height: 40px;
    opacity: 0.9;
    background-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; }
  :host .cg-wrapper.cg-landscape .cg-image-wrap img {
    height: 100%; }
  :host .cg-wrapper {
    transition: none;
    width: 100%;
    height: 100%;
    display: block; }
    :host .cg-wrapper .cg-image-wrap.cg-prev-image {
      transform: translate3d(calc(-100% - 8px), 0, 0); }
    :host .cg-wrapper .cg-image-wrap.cg-next-image {
      transform: translate3d(calc(100% + 8px), 0, 0); }
    :host .cg-wrapper .cg-image-wrap {
      width: 100%;
      height: 100%;
      text-align: center;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center; }
      :host .cg-wrapper .cg-image-wrap img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        position: relative; }
      :host .cg-wrapper .cg-image-wrap img.cg-hide {
        display: none; }
