.cg-spinner {
  position: fixed;
  width: 55px;
  height: 55px;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin-left: -27.5px;
  margin-top: -27.5px;
  width: 55px;
  height: 55px; }
  .cg-spinner:before, .cg-spinner:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%; }
@keyframes scale-2 {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    transform: scale(0.7);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }
  .cg-spinner:before {
    width: 47px;
    height: 47px;
    border-color: #fff;
    top: 0px;
    left: 0px;
    animation: scale-2 1.1s linear 0s infinite; }
  .cg-spinner:after {
    width: 47px;
    height: 47px;
    border-color: #fff;
    top: 0;
    left: 0;
    opacity: 0;
    animation: scale-2 1.1s linear 0.5s infinite; }
