<div #contentWrapper [hidden]="isNgContent">
    <ng-content></ng-content>
</div>

<!--
<div 
	class="cg-wrapper"
	*ngIf="!isNgContent" 
	masonry-layout 
	[max-height]="masonryMaxHeight" 
	[gutter]="masonryGutter"
    [masonry]="masonryState"
>
    <div 
    	class="cg-image" 
    	*ngFor="let image of images; index as i"
    >
    	<img [src]="image.preview" (click)="showOverlay(images, i)" />
    </div>
</div>
-->

<masonry-layout 
    class="cg-wrapper"
    *ngIf="!isNgContent" 

    [max-height]="masonryMaxHeight" 
    [gutter]="masonryGutter"
    [masonry]="masonryState"
    [class-name]="'cg-image'"

    [images]="images"
    (events)="handleMasonryLayoutEvents($event)"></masonry-layout>